<div class="row">
  <h3 class="col-xs-12 text-info"><i class="fa fa-fw fa-list"></i> 下載清單</h3>
  <div class="col-xs-12">
    <div class="col-xs-12 col-md-offset-3 col-md-2">
      <button href="javascript: void(0);" class="btn btn-success btn-block" id="oneKeyDownload" data-toggle="tooltip" data-placement="top"
        title="一鍵下載會將[漫畫清單]中所有漫畫分析成下載清單並執行下載動作" [disabled]="downloading">
        <i class="fa fa-fw fa-magic"></i> 一鍵下載
        </button>
    </div>
    <div class="col-xs-12 col-md-2">
      <button href="javascript: void(0);" class="btn btn-danger btn-block" id="clearPictureUrls" (click)="clearToDownloadImageList()" [disabled]="downloading">
        <i class="fa fa-fw fa-remove"></i> 清除下載清單
      </button>
    </div>
    <div class="col-xs-12 col-md-2">
      <button href="javascript: void(0);" class="btn btn-success btn-block" id="startDownload" (click)="startDownload()" [disabled]="downloading">
        <i class="fa fa-fw fa-download"></i> 開始下載
      </button>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="skipIfExist" [checked]="skipIfExist" (click)="toogleSkipIfExist()"  [disabled]="downloading"/>
          檔案已存在就不下載
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-12" id="pictureListContainer">
    <table class="table table-responsive table-striped table-hover header-fixed" id="imageList">
      <thead>
        <tr class="info">
          <th width="15%">狀態</th>
          <th width="40%">存放路徑</th>
          <th width="45%">漫畫網址</th>
        </tr>
      </thead>
      <tbody id="comicUrlsList" style="height: 500px; overflow: auto">
        <tr *ngFor="let comicImage of getToDownloadImageList()">
          <td width="15%" [ngClass]="{'text-success': comicImage.status === downloadStatusEnum.Finish, 'text-info': comicImage.status === downloadStatusEnum.Downloading, 'text-danger': comicImage.status === downloadStatusEnum.Error || comicImage.status === downloadStatusEnum.Exist}">
            <i class="fa fa-fw" [ngClass]="{'fa-spinner': comicImage.status === downloadStatusEnum.Downloading, 'fa-spin': comicImage.status === downloadStatusEnum.Downloading, 'fa-check': comicImage.status === downloadStatusEnum.Finish,'fa-warning': comicImage.status === downloadStatusEnum.Error,'fa-copy': comicImage.status === downloadStatusEnum.Exist}"></i>            {{ comicImage.status | downloadStatus }}
          </td>
          <td width="40%">{{ comicImage.savedPath }}</td>
          <td width="45%">{{ comicImage.imageUrl }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>