<h3 class="col-xs-12 text-info"><i class="fa fa-fw fa-list"></i> 漫畫目錄</h3>
<div class="col-xs-12 col-md-8">
  <span id="saveComicFolder">{{ appSettings?.comicFolder }}</span>
</div>
<div class="col-xs-12 col-md-2">
  <a href="javascript: void(0);" class="btn btn-primary btn-block" id="setComicFolder" (click)="setComicFolder()">
    <i class="fa fa-fw fa-gear"></i> 設定漫畫目錄
  </a>
</div>
<div class="col-xs-12 col-md-2">
  <a href="javascript: void(0);" class="btn btn-primary btn-block" id="openComicFolder">
    <i class="fa fa-fw fa-folder-open-o"></i> 開啟漫畫目錄
  </a>
</div>