<div class="row">
  <h3 class="col-xs-12 text-info"><i class="fa fa-fw fa-list"></i> 漫畫清單</h3>
  <div class="col-xs-12 col-md-8">
    <select id="comicList" class="form-control" [(ngModel)]="selectedComic">
      <option *ngFor="let comicData of appSettings?.comicList" [value]="comicData.url">
        {{ comicData.name }} - {{ comicData.url }}
        </option>
    </select>
  </div>
  <div class="col-xs-12 col-md-2">
    <a href="javascript: void(0);" class="btn btn-danger btn-block" id="removeFromComicList" (click)="removeComicData()">
      <i class="fa fa-fw fa-trash"></i> 移除
    </a>
  </div>
  <div class="col-xs-12 col-md-2">
    <a href="javascript: void(0);" class="btn btn-info btn-block" id="getPictureList" (click)="getPictureList()">
      <i class="fa fa-fw fa-file-photo-o"></i> 取得漫畫清單
    </a>
  </div>
  <div class="col-xs-12 col-md-5" style="margin-top: 5px;">
    <input type="text" id="addComicUrl" value="" class="form-control" placeholder="請輸入漫畫網址..." [(ngModel)]="urlToAdd" />
  </div>
  <div class="col-xs-12 col-md-3" style="margin-top: 5px;">
    <a href="javascript: void(0);" class="btn btn-info btn-block" id="addComicUrlButton" (click)="addComicUrl()">
      <i class="fa fa-fw fa-plus"></i> 加入漫畫網址
    </a>
  </div>
  <div class="col-xs-12 col-md-4" style="margin-top: 5px;">
    <div class="row form-horizontal pull-left">
      <label class="col-xs-3 control-label" for="lastNVolume">抓最後</label>
      <div class="col-xs-4">
        <input class="form-control" type="number" id="lastVols" value="10" [(ngModel)]="getLastVolumes"/>
      </div>
      <label class="col-xs-1 control-label" for="lastNVolume">集</label>
      <div class="checkbox col-xs-3">
        <label>
          <input type="checkbox" id="getAllPictures" [(ngModel)]="getAll"/>全抓
        </label>
      </div>
    </div>
  </div>
</div>